/* Theming */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

:root {
  --teal: #00b8a9;
  --beige: #f8f3d4;
  --red: #f6416c;
  --yellow: #ffde7d;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  font-family: "Inter", sans-serif;
}

header {
  background-color: var(--beige);
  padding: 10px;
}

.logo {
  height: 46.4px;
  float: left;
}

/* nav */
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav > li {
  float: left;
  margin-left: 10px;
}

.nav > li a {
  display: block;
  color: var(--teal);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width: 100px;
  height: 50px;
  border-radius: 5px;
}

.nav > li a:hover {
  background-color: var(--yellow);
}
/* endnav */

/* login-button */
.login-button {
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  color: white;
  background-color: var(--red);
  cursor: pointer;
  
}

.login-button:hover {
  opacity: 0.5;
}

/*  */
