@font-face {
  font-family: Roboto;
  src: url(/Roboto/Roboto-Regular.ttf);
}

:root {
  --black: #131921;
  --dark-blue: #1f3a5e;
  --light-blue: #9ce2fa;
  --white: #ffffff;
} /* variables*/

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
