@import url(/general.css);

.header {
  top: 0;
  width: 100%;
  box-shadow: 0 4px 20px hsla(207, 24%, 35%, 0.1);
  background-color: var(--black);
  z-index: 1;
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.header .logo {
  height: 50px;
}

.header .menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .menu a {
  display: block;
  padding: 7px 15px;
  font-size: 17px;
  font-weight: 500;
  transition: 0.2s all ease-out;
  color: #fff;
}

.header .menu:hover a {
  opacity: 0.4;
}

.header .menu a:hover {
  opacity: 1;
  color: #fff;
}

.header .menu-icon {
  display: none;
}

.header #menu-toggle {
  display: none;
}

.header #menu-toggle:checked ~ .menu {
  transform: scale(1, 1);
}

@media only screen and (max-width: 950px) {
  .header .menu {
    flex-direction: column;
    background-color: var(--black);
    align-items: start;
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    z-index: 1;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  .header .menu a {
    margin-left: 12px;
  }

  .header .menu li {
    margin-bottom: 10px;
  }

  .header .menu-icon {
    display: block;
    color: #fff;
    font-size: 28px;
    cursor: pointer;
  }
}
