@import url(/general.css);

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 88.4px; 
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  padding: 25px 10px;
}

