:root {
  --teal: #00b8a9;
  --beige: #f8f3d4;
  --red: #f6416c;
  --yellow: #ffde7d;
}

body {
  margin: 0;
}

header {
  background-color: var(--beige);
  padding: 10px;
}

.logo {
  height: 50px;;
  float: left;
  margin-right: 10px;
}

/* nav */
.nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.nav > li {
  float: left;
}

.nav > li a {
  display: block;
  color: var(--teal);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width: 50px;
  border-radius: 50%;
}

.nav > li a:hover {
  background-color: var(--yellow);
}
/* endnav */
