main .search-container {
  margin-bottom: 20px;
}

main .search-container input[type="text"] {
  padding: 6px;
  font-size: 17px;
  border: none;
  float: left;
}

main .search-container button {
    float: left;
    padding: 6px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
main .search-container::after{
    content: "";
    display: block;
    clear: both;
}
