@import "Roboto/Roboto-Regular.ttf";

:root {
  --teal: #00b8a9;
  --beige: #f8f3d4;
  --red: #f6416c;
  --yellow: #ffde7d;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: var(--beige);
  padding: 10px;
}

.header .logo {
  height: 50px;
}

.header .nav {
  float: left;
}

.header .menu {
  float: left;
  list-style-type: none;
}
